/*css*/
@font-face {
    font-family:"OkineBlack";
    src: url(fonts/MADEOkineSansPERSONALUSE-Black.otf);
}
@font-face {
    font-family:"Okine";
    src: url(fonts/MADEOkineSansPERSONALUSE-Regular.otf);
}
@font-face {
    font-family:"Codec";
    src: url(fonts/Codec-Cold-ExtraBold-trial.ttf);
}
@font-face {
    font-family:"Codeclight";
    src: url(fonts/Codec-Cold-Light-trial.ttf);
}

@font-face {
    font-family:"ripoff";
    src: url(fonts/Ripoff.ttf);
}

@font-face {
    font-family:"Marker";
    src: url(fonts/PermanentMarker.ttf)
}

body { 
    margin:0px;
    background-color: rgb(255, 255, 255);
}

.header{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left:75px;
    padding-top:25px;
    position:sticky;
    top:0;
    z-index: 999;
    padding-bottom: 0;
}

h1 {
    font-family: "Codec";
    font-size: 32px;
    color:black;
    margin:0px;
}

.links {
    display:flex;
    justify-content:flex-end;
    padding-right: 90px;
    align-items: center;
    gap: 55px;
}

a {
    text-decoration:none;
    font-size: 18px;
    font-family: "Codeclight";
    font-weight: bolder;
    color:rgb(121, 121, 121);
    margin:0px;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    word-spacing:4px;
    line-height:24px;
    font-size:17px;
    padding: 6px 124px 42px 124px; 
    font-display:block;
}

.wrapper{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  background-color: red;
}

.container{
    display:flex;
    flex-flow: row ;
    align-items: center;
    padding:30px 170px;
}

.space {
  flex: 1;
  overflow-y:auto;
}

.png{
    display:flex;
    direction: row; 
    gap:45px;
    justify-content:center;
    align-content:center;
    padding:20px; 
    margin: 0;
}

.footer{
    font-family: "Okine";
    color:grey;
    font-size:14px;
    padding:25px;
    padding-bottom:40px;
}

