/*css*/
@font-face {
    font-family:"OkineBlack";
    src: url(fonts/MADEOkineSansPERSONALUSE-Black.otf);
}
@font-face {
    font-family:"Okine";
    src: url(fonts/MADEOkineSansPERSONALUSE-Regular.otf);
}
@font-face {
    font-family:"Codec";
    src: url(fonts/Codec-Cold-ExtraBold-trial.ttf);
}
@font-face {
    font-family:"Codeclight";
    src: url(fonts/Codec-Cold-Light-trial.ttf);
}

@font-face {
    font-family:"ripoff";
    src: url(fonts/Ripoff.ttf);
}

@font-face {
    font-family:"Marker";
    src: url(fonts/PermanentMarker.ttf)
}

body { 
    margin:0px;
    background-color: rgb(255, 255, 255);
}

.header{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left:75px;
    padding-top:25px;
    position:sticky;
    top:0;
    z-index: 999;
    padding-bottom: 0;
}

h1 {
    font-family: "Codec";
    font-size: 32px;
    color:black;
    margin:0px;
}

.links {
    display:flex;
    justify-content:flex-end;
    padding-right: 90px;
    align-items: center;
    gap: 55px;
}

a {
    text-decoration:none;
    font-size: 18px;
    font-family: "Codeclight";
    font-weight: bolder;
    color:rgb(121, 121, 121);
    margin:0px;
}

p {
    font-size:21px;
    display:flex;
    justify-content: center;
    padding:12px 150px;
}

h2 {
    font-family: "Codec";
    font-size: 25px;
    font-weight:900;
    margin-bottom:0%;
}

h3 {
    font-family: "Okine";
    font-size: 35px;    
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 12px;
}

.topcontainer{
    margin:0;
    display:flex; 
    justify-content: flex-end;
    flex-flow: row;
    padding: 0px 55px ;
}

.top{
    padding-bottom: 45px;
}

.description{
    padding:0px 15px;
    font-family: "Okine";
    font-size:18px;
    max-width:325px;
}

.gallery{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 55px;
    background: rgb(53, 53, 53);
}

.media {
    height: 400px;
    width: 375px;  
    object-fit: cover;
    cursor: pointer;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  align-items: center;
  justify-content: center;
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
}

.lightbox video,
.lightbox img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.enlarged{
    transform: scale(1.5);
    transition: transform 1s ease;
    position: absolute;
    height:100%;
    width: auto;
    margin:auto;
}

.footer{
    font-family: "Okine";
    color:grey;
    font-size:14px;
    padding:25px;
    padding-bottom:40px;
}