/*css*/
@font-face {
    font-family:"OkineBlack";
    src: url(fonts/MADEOkineSansPERSONALUSE-Black.otf);
}
@font-face {
    font-family:"Okine";
    src: url(fonts/MADEOkineSansPERSONALUSE-Regular.otf);
}
@font-face {
    font-family:"Codec";
    src: url(fonts/Codec-Cold-ExtraBold-trial.ttf);
}
@font-face {
    font-family:"Codeclight";
    src: url(fonts/Codec-Cold-Light-trial.ttf);
}

@font-face {
    font-family:"ripoff";
    src: url(fonts/Ripoff.ttf);
}

@font-face {
    font-family:"Marker";
    src: url(fonts/PermanentMarker.ttf)
}

body { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}
.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left:75px;
    padding-top:35px;
    padding-bottom:35px;
    position:sticky;
    top:0;
    z-index: 999;
    width: 100%;
}
h1 {
    font-family: "Codec";
    font-size: 32px;
    color:black;
    margin:0px;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.links {
    display:flex;
    padding-right: 90px;
    align-items: center;
    gap: 55px;
}

a {
    text-decoration:none;
    font-size: 22px;
    font-family: "Codec";
    font-weight: bolder;
    color:rgb(121, 121, 121);
    margin:0px;
}

/* PAGE */

p {
    font-size:20px;
    display:flex;
    flex-flow: row wrap;
    max-width: 500px;
}

h2 {
    font-family: "Codec";
    font-size: 25px;
    font-weight:900;
    margin-bottom:0%;
}
h3 {
    font-family: "Okine";
    font-size: 35px;    
    display: flex;
    justify-content: center;
    align-items:center;

}

.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:80%;
}

.box{
    display:flex;
    justify-content: row wrap;
    align-items: center;
    gap:40px;
    padding-bottom: 155px;
}

.description {
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    max-width:390px;
}

.arrow{ 
    display: flex;
    align-self: end;
    align-items: center;
    padding-top: 90px;
}
.footer{
    font-family: "Okine";
    color:grey;
    font-size:14px;
    margin-bottom: -20px;
    padding-top: 30px;
}